<div class="container">
<div class="container-wrapper">
	<header class="clearfix">
    <a ng-click="back()" class="back"><img src="assets/images/arrow-left.png" alt="" /></a>
		<h1>
			{{title}}
		</h1>
	</header>
    <span class="add-new" ng-click="addTask()">+</span>
	

	<ul class="list">
    	<li class="stats" ng-class="{hide: !tasks.length}">
            <span>{{total}} tasks (+{{todo}}/-{{completed}})</span>
        </li>
		<li ng-repeat="task in tasks" ng-include="'task-item.html'"></li>
        <li class="no-tasks" ng-class="{show: !tasks.length}">There are no tasks in this list yet.</li>
	</ul>

	
</div>
</div>

<script type="text/ng-template" id="task-item.html" class="html">
	<div class="task">
		<input type="checkbox" class="check" id="check-{{$id}}"
			   ng-model="task.status" 
			   ng-true-value="'completed'"
			   ng-false-value="'needsAction'"
			   ng-change="changeStatus(task)" />
		<label for="check-{{$id}}">
			<img src="assets/images/check-unchecked.png" />
			<img src="assets/images/check-checked.png" />
		</label>
		<span class="title" ng-bind-html="task.title | linky:'_blank'"></span>
		<span class="actions">
			<span class="pin" title="pin task" ng-class="{active: task.pinned}" ng-click="pinTask(task)">&star;</span>
			<span class="delete" title="delete task" ng-click="deleteTask(task.id)">&#8855;</span>
			<span class="more" title="more">&hellip;</span>
		</span>
		<span ng-bind-html="task.notes"></span>
		<p  class="task-date"><span class="completed-on" ng-class="{hide: !task.completed.length}">Completed on: </span><span ng-bind-html="task.completed | date:'EEE, MMM yyyy'"></span></p>
	</div>
	<ul ng-if="task.children.length">
		<li ng-repeat="task in task.children" ng-include="'task-item.html'"></li>
	</ul>
</script>