/* Common app styles */
html, body, .view {
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

/* No border radius */
.simple-modal {
	display: block;
}

.modal-content,
.modal-content .form-control,
.modal-content .btn {
	border-radius: 0;
}

.modal-content .modal-body .close {
	position: absolute;
	top: 4px;
	right: 12px;
	font-size: 40px;
	outline: none;
}
.modal-content .modal-body .big-title {
	margin-bottom: 20px;
}

@font-face {
  font-family: 'jalane-light';
  src: url("fonts/Jalane_light.ttf");
  src: url("fonts/Jalane_light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* ngView */
.view {
	height: auto;
}

.view.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.view.slide.ng-enter,
.view.slide.ng-leave {
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.view.slide.ng-enter {
	left: 100%;
}
.view.slide.ng-enter-active {
	left: 0;
}
.view.slide.ng-leave {
	left: 0;
}
.view.slide.ng-leave-active {
	left: -100%;
}

.reverse .view.slide.ng-enter {
	left: -100%;
}
.reverse .view.slide.ng-enter-active {
	left: 0;
}
.reverse .view.slide.ng-leave {
	left: 0;
}
.reverse .view.slide.ng-leave-active {
	left: 100%;
}


/* Splash screen */
.app-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;
	width: 100%;
	height: 100%;
	background: #000;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.quote{
	position: fixed;
    bottom: 30px;
    color: #fff;
    text-align: center;
	width:100%;
	left:0;
}
.app-loading .message {
	position: fixed;
	top: 50%;
	text-align: center;
	color: #CCC;
	background:url(../images/HonorableEnragedCopperbutterfly.gif) no-repeat;
	height: 300px;
	width: 600px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.app-loading .message h3{
	position: relative;
    top: 137px;
    font-size: 16px;
    left: 5px;
	color:#bdfdfd;
}
.app-loading .message i {
	display: inline-block;
	margin-right: 4px;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	-webkit-transition: background .2s linear;
	transition: background .2s linear;
}
.app-loading .message .s {
	background: #EEE;
}
.app-loading.ng-hide {
	display: block !important;
	opacity: 0;
}
.app-loading.ng-hide .message {
	display: none;
}


/* Common styles */
header .back {
	cursor: pointer;
}
header .back img {
	height: 35px;
	
	vertical-align: top;
}
/*Common code*/
.container-wrapper{
	background:#fff;
	width:400px;
	margin:0 auto;
	margin-top:80px;
	margin-bottom:80px;
	position:relative;
}

/* Tasklists screen */

.tasklists-screen {
	background: url(../images/bg-dark.png) repeat 0 0;
}
.tasklists-screen header {
	padding: 25px;
	min-height: 200px;
	position: relative;
	background:#C03;
	width:100%;
	color:#fff;
}
.tasklists-screen header .today{ font-size:14px; margin-bottom:0;}
.tasklists-screen header .day{
	font-size:54px;
	font-weight:bolder;
	margin-right:10px;
	font-family: 'jalane-light';
}
.tasklists-screen header .year-month{
	font-size:18px;
	display: inline-block;
	font-family: 'jalane-light';
}
.tasklists-screen header .year-month span{
	display:block;
}
.tasklists-screen header .upcoming {
	float: left;
}
.tasklists-screen header .no-upcoming {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	color: #555;
	font-size: 20px;
}
.tasklists-screen header .upcoming li a {
	padding: 10px 5px 5px;
	margin: 0 5px;
	border-radius: 0;
	border-bottom: 2px transparent solid;
}
.tasklists-screen header .upcoming li a:hover {
	border-bottom: 2px #DDD solid;
	color: #DDD;
	background: none;
}

.add-new {
	color: hsl(0, 0%, 93%);
	font-size: 43px;
	position: absolute;
	right: 46px;;
	top: 143px;
	height: 60px;
	display: inline-block;
	width: 60px;
	background: #C03;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow:-1px -4px 38px -2px rgb(255, 255, 255);
-moz-box-shadow: -1px -4px 38px -2px rgb(255, 255, 255);
box-shadow: -1px -4px 38px -2px rgb(255, 255, 255);border-radius:50%;
z-index:1;

}


/* adding new tasklist */
.modal-add .form-group {
	margin-bottom: 0;
}
.modal-add .form-control {
	height: 65px;
	font-size: 25px;
}


.confirm-modal .icon {
	padding: 10px 0;
}
.confirm-modal .icon img {
	max-height: 40px;
}
.confirm-modal .message {
	font-size: 24px;
}
ul.task-lists{
	background: #fff;
    padding: 20px;
    top: -27px;
    position: relative;
    margin: 0 15px;
	-webkit-box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
-moz-box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
padding-top:40px;
}

.task-lists > li {
	list-style: none;
	padding: 12px;
	vertical-align: top;
	color: #FFF;
	font-size: 18px;
	position: relative;
	margin-bottom:10px;
	background:#fff;
	-webkit-box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
-moz-box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
min-height:80px;
	
}
.task-lists > li:before{content:""; border-left:4px solid red; position:absolute; left:0; top:0;height:100%;}
.task-lists > li:nth-child(3n):before{border-color:#FC0;}
.task-lists > li:nth-child(3n+1):before{border-color:#C03;}
.task-lists > li:nth-child(3n+2):before{border-color:#262626;}

.task-lists > li.no-child .first {
	display: none;
}
.task-lists > li > a {
	font-size: 20px;
	color: #262626;
}
.task-lists > li > .stats {
	color: #DDD;
	position: absolute;
	bottom: 0;
	right: 15px;
}

.task-lists .info {
	font-size: .7em;
	color: #AAA;
	float:right;
}
.task-lists .first {
	margin-top: 10px;
	color: #BBB;
	word-break: break-all;
	max-height: 80px;
	overflow: hidden;
	font-size:14px;
}
.task-lists .first p{
	margin-bottom:0;
	margin-left:10px;
}
.tasks-label{ font-size:12px;margin-left:0 !important;}

.task-lists > li .btn-actions {
	position: absolute;
	bottom: 10px;
	right: 13px;
	cursor: pointer;
	color: #AAA;
}
.task-lists > li .btn-actions:hover {
	color: #EEE;
}
.task-lists > li .actions-overlay {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}
.task-lists > li.actions .actions-overlay {
	display: block;
	padding: 10px 20px;
}
.task-lists > li.actions > *:not(.actions-overlay) {
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
}
.task-lists > li .actions-overlay .btn-close {
	position: absolute;
	top: 3px;
	right: 9px;
	cursor: pointer;
}

.task-lists > li .actions-overlay .actions a {
	cursor: pointer;
}
.no-tasks{ color:#999; font-size:12px; margin-top:10px;}


/* Tasks screen */
.tasks-screen {
	background: url(../images/bg-dark.png) repeat 0 0;
}
.tasks-screen header {
	padding: 25px;
    min-height: 200px;
    position: relative;
    background: #C03;
    width: 100%;
    color: #fff;
}
.tasks-screen header h1 {
	color: #fff; /* colors vary, configurable */
	margin: -1px 0 0;
	font-family: 'jalane-light';
	margin-top:38px;
	margin-left:15px;
}

.tasks-screen header h1 .actions {
	display: inline-block;
}
.tasks-screen header h1 .actions a {
	cursor: pointer;
}



.tasks-screen .list {
	background: #fff;
    padding: 20px;
    top: -27px;
    position: relative;
    margin: 0 15px;
    -webkit-box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
    -moz-box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
    box-shadow: 0px 2px 0px 1px rgba(138,138,138,0.35);
    padding-top: 40px;
}
.tasks-screen .list ul {
	padding-left: 1.1em;
}
.tasks-screen .list > li:first-child,
.tasks-screen .list ul li:first-child {
	padding-top: 10px;
}
.tasks-screen .list ul li:last-child {
	padding-bottom: 0;
}
.tasks-screen ul li {
	color: #333;
	padding: 0 0 10px;
	font-size: 20px;
	word-break: break-all;
}
.tasks-screen li {
	list-style-type: none;
}
.tasks-screen .list > li {
	list-style: none;
	padding: 12px;
	vertical-align: top;
	font-size: 18px;
	position: relative;
	margin-bottom:10px;
	background:#fff;
	-webkit-box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
-moz-box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
box-shadow: 0px 0px 34px -12px rgba(94,182,204,1);
min-height:80px;
display:table;width:100%;
	
}
.tasks-screen .list > li:before{content:""; border-left:4px solid red; position:absolute; left:0; top:0;height:100%;}
.tasks-screen .list > li:nth-child(3n):before{border-color:#FC0;}
.tasks-screen .list > li:nth-child(3n+1):before{border-color:#C03;}
.tasks-screen .list > li:nth-child(3n+2):before{border-color:#262626;}
.tasks-screen li .task {
	position: relative;
	display:table-cell;
	vertical-align:middle;
}
.tasks-screen li div::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -2px;
	bottom: 50%;
	width: 1.7em;
}
.tasks-screen li .task > * {
	vertical-align: middle;
}
.tasks-screen ul > li:last-child {
	border-left: 2px solid transparent;
}

.tasks-screen li .task .actions span {
	cursor: pointer;
	opacity: .2;
}
.tasks-screen li .task .actions span:hover {
	opacity: 1;
}

.tasks-screen li .task .actions .active {
	color: #08C;
	font-weight: bold;
	opacity: 1;
}

.tasks-screen li.stats {
	color: #5693E2;
	font-size: 18px;
	margin-left:0;
	box-shadow:none;
	padding:0;
	min-height:inherit;
}
.tasks-screen li.stats:before{ border-color:transparent !important;}
.tasks-screen .stats span {
	color: #08C;
	padding: 0 0 5px 5px;
	display: inline-block;
}

.tasks-screen .stats.hide,
.tasks-screen .stats.hide + ul,
.tasks-screen .no-tasks {
	display: none;
}
.tasks-screen .stats.hide ~ .no-tasks {
	display: block;
}
.tasks-screen li label{    top: 2px;
    position: relative;}
.task-date{ font-size:14px; margin-bottom:0; margin-left:23px;}
.completed-on{ color:#CCC; font-size:12px;}

/* Tree counters */
.tasks-screen ul {
	counter-reset: section;
	list-style-type: none;
}
.tasks-screen ul .task:after {
	counter-increment: section;
	content: counters(section, ".") " ";
	position: absolute;
	right: 2px;
	top: 10px;
	margin-top: -17px;
	font-size: 10px;
}


.tasks-screen .task .check,
.tasks-screen .task .check + label > * {
	display: none;
	cursor: pointer;
	vertical-align: middle;
}
.tasks-screen .task .check + label > img:first-child {
	display: inline;
}
.tasks-screen .task .check:checked + label > img {
	display: none;
}
.tasks-screen .task .check:checked + label > img + img {
	display: inline;
}
.tasks-screen .task .check:checked + label + .title {
	text-decoration: line-through;
}