<div class="container">
    <div class="login-container">
        <h1>
            Sign in <p>with your Google account</p>
        </h1>
        <button ng-click="login()" class="btn btn-lg btn-success loginBtn">
            Go  
            <img src="assets/images/google-circle.png" width="32" height="32" alt=""/>
        </button>
        <p class="line">... to see your tasks.</p>
        <div class="error" ng-if="error">Unfortunately, login failed..</div>
    </div>
</div>
<q class="quote">Sometimes our stop-doing list needs to be bigger than our to-do list.</q>